<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>About</title>
</head>

<body>

  <div class="main-content">
    {{>header}}
    <p>Used <a href="https://openweathermap.org/api">OpenweathermapAPI</a> and <a href="https://www.mapbox.com/">Mapbox
        API</a> to get the forecast</p>
    <p>Please visit our <a href="/">Home</a> to know weather at your location.</p>
    <p>Or visit <a href="/help">help</a> to get help from our customer care</p>
  </div>

  {{>footer}}

  <script src="/js/script.js"></script>
</body>

</html>