<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Help</title>
</head>

<body>

  <div class="main-content">

    {{>header}}

    <p>Contact us on: {{number}}</p>
    <p>Visit our <a href="/">Home</a> to know the weather forecast at your city</p>
  </div>

  <footer>
    <h3>WEATHER Insider - New York, NY</h3>
    <p>Weather Forecast Department 2024 ©. All rights reserved.</p>
  </footer>

  <script src="/js/script.js"></script>
</body>

</html>