<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  {{!-- to link a fav icon path to img must be specified in "href"--}}
  <link rel="icon" href="">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="main-content">

    {{>header}}

    <p id="info">Use this website to get exact weather forecast of a city</p>

    <div id="form">
      <form>
        <input placeholder="Type city name" type="">
        <button>Search</button>
      </form>


      <p id="message-1"></p>
      <p id="message-2"></p>
    </div>

  </div>

  {{>footer}}

  <script src="/js/script.js"></script>
</body>

</html>