<!-- DOCTYPE to specify which type of doc this is... so it is html type -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>{{>header}}</h1>
  </header>

  <p>created by: {{name}}</p>

  <footer>
    <h3>{{>footer}}</h3>
  </footer>
</body>
</html>