  <footer>
    <h3>WEATHER Insider - New York, NY</h3>
    <p>Weather Forecast Department 2024 ©. All rights reserved.</p>
    For any help visit <a href="/help">Help</a> to know more about us or contact us on: {{number}}
  </footer>